* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 2rem 3rem;
  padding: 1rem;
  border: 1px solid white;
  max-width: 100%;
  border-radius: 5px;
}

.dynamic-part {
  width: 30%;
}

.static-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.category {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}

.author {
  font-size: 10px;
  color: #0290ff;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.button-d {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.button-click {
  background-color: #fff;
  color: #0290ff;
  padding: 5px;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}

.percentage_value {
  margin: 0;
  font-size: 32px;
  color: rgb(18, 18, 18);
}

.completed {
  opacity: 0.6;
  font-size: 14px;
  color: rgb(18, 18, 18);
}

.current-chapter {
  opacity: 0.6;
  font-size: 14px;
  color: rgb(18, 18, 18);
}

#UPDATE-PROGRESS {
  background-color: #0290ff;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  margin-top: 20px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}
